<h1>Comments</h1>
<table border="0" [cellPadding]="5" [cellSpacing]="2">
  <caption>
    <button (click)="handleNew()">New</button>
  </caption>
  <thead>
    <tr>
      <th *ngFor="let header of columnDefs">{{ header }}</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of comments">
      <td vAlign="top">{{ post.postId }}</td>
      <td vAlign="top">{{ post.id }}</td>
      <td vAlign="top">{{ post.name }}</td>
      <td vAlign="top">{{ post.email }}</td>
      <td vAlign="top">{{ post.body }}</td>
      <td nowrap>
        <button (click)="handleEdit(post.id)">Edit</button>
        <button (click)="handleDelete(post.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

